body {
    font-family: Arial;
    margin-top: 100px;
}


h1{
    font-size: 28px;
    text-transform: uppercase;
}

#position {
    font-size: 18px;
    font-weight: bold;
}

.summary {
    font-size: 16px;
    line-height: 20px;
}

.summary img {
    float: right;
}

li b {
    color: #2F5A78;
}

li {
    margin-bottom: 5px;
}

h2 {
    color: #2F5A78;
    font-size: 20px;
    border-bottom: 1px solid #2F5A78;
    padding-bottom: 2px;
}

header {
    text-align: center;
    background-color: #eeeeee;
    padding: 2px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

section{
    padding: 2px 10px;
}

ul {
    margin: 0;
}


table {
    border-collapse: collapse;
}

th {
    background-color: #2f5a78;
    border: 1px solid #000;
    color: #fff;
    text-align: center;
    padding: 5px;
}

td {
    border: 1px solid #000;
    padding: 5px;
}

tr:nth-child(odd) {
    background-color: #e99f4b;
    color: #fff;
}

tr:nth-child(even){
    background-color: #eeeeee;
}

label{
    color: #2f5a78;
    font-weight: bold;
}
input[type='text'], input[type='email'] {
    border: 1px solid #2f5a78;
    width: 150px;
    padding: 5px;
    margin-bottom: 5px;
    
}

textarea {
    border: 1px solid #2f5a78;
    width: 150px;
    padding: 5px;
    margin-bottom: 5px;
    width: 203px;
}

input[type='submit'] {
    background-color: #2F5A78;
    border: none;
    border-radius: 7px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 7px;
    padding: 5px 15px;
}

footer {
    padding: 2px 10px;
    background-color: #eeeeee;
    ;
}

footer a {
    color: #e99f4b;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}


#copyright {
    text-align: center;
}
